@page
@model Razor_Currency_Converter.Pages.Shared.CurrencyConverterModel
@{
}

<div>
    <header class="text-center">
        <h1 class="display-4">Welcome to Razor Pages Currency Converter</h1>
        <h2>By Mohammed Ahmed</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </header>

    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label for="amount">Amount(£)</label>
            <input type="text" required="true" placeholder="Please enter the amount you want to convert" asp-for="Value">
        </p>
     
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </p>
        <p class="col-sm-12">
            @ViewData["Message"]
        </p>

    </form>
    </div>
